
mixin example-button(label, example, withErrorHandler)
    //- Nifty, isn't it?
    a.btn.btn-default.btn-lg(
        href=$url,
        href='?example='.$example,
        href=$withErrorHandler ? '&withErrorHandler': '',
        href='#liveCompiler'
    )= $label

doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        title Tale Jade Live Compiler

        include styles
    body

        .container

            .page-header
                h1 Welcome to Tale Jade!

            p.lead Tale Jade is a PHP Template Engine based on the Node.js Implementation of the Jade Language

            p You can find the original documentation at <a href="http://jade-lang.com" target="_blank">jade-lang.com</a>

            h4 Tale Jade is not a port of the Node.js Implementation

            p
                | While the official implementation works fine for JavaScript, it has its limits in PHP.
                | This implementation aims to improve the experience for PHP users using the Jade template engine

            h4 Unlimited Jade

            p Tale Jade removes many limits of the official Node.js implementation. To see how that turned out, watch our examples

            a(name='liveCompiler')
            p.lead Check out our live compiler:
            .container-editor
                .row

                    .col.col-md-6
                        p.lead Jade
                        .editor.editor-jade
                            #jadeEditor

                    .col.col-md-6
                        p.lead PHTML (HTML with PHP Instructions)
                        .editor.editor-php
                            #phpEditor

            .container-examples

                h2 Some more examples

                +example-button('Mixins', 'mixins')
                +example-button('Cross Assignment', 'assignments')
                +example-button('Blocks', 'blocks')
                +example-button('Block Expansion', 'block-expansion')
                +example-button('Conditionals', 'conditionals')
                +example-button('Loops', 'loops')
                +example-button('Escaping', 'escaping')
                +example-button('Code', 'code')
                +example-button('Comments', 'comments')
                +example-button('Error Handler', $example, true)
                +example-button('Doctypes', 'doctypes')
                +example-button('Interpolation', 'interpolation')



        case $action
            when 'about': include pages/about
            when 'more-examples': include pages/more-examples


        include scripts