

link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
style.

    body {
        font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding-bottom: 100px;
    }

    pre {
        display: block;
        border-radius: 0;
        background: #fff;
        border: none;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #phpEditor, #jadeEditor, .CodeMirror {
        width: 100%;
        height: 100%;
    }

    .editor {
        width: 100%;
        height: 600px;
        border: 3px solid lawngreen;
        transition: border-color .2s ease-out;
        border-radius: 2px;
    }

    .compiling {
        border-color: darkgreen;
    }