
h1 Cross Assignments

p Assign complex values to attributes easily without repeating the attribute name


- $classes = ['class-1', 'class-2', 'class-3']
div&classes($classes)


div&classes('class-1', 'class-2', 'class-3')

div&data-complex((object)['a' => 1, 'b' => 2])