

h1 Blocks!

p Load stuff only when you need it.
p Notice that blocks work through includes/extends

block scripts
    script(src='first-script')

block styles
    style(name='first-style')

block content
    h1 Some bogus content
    p This will be replaced!

block append scripts
    script(src='second-script')

// or just
append styles
    style(name='second-style')


block prepend scripts
    script(src='new-first-script')

prepend styles
    script(name='new-first-style')


// Whole replacement

block replace content
    h1 I will be replaced as well

// or
replace content
    h1 I will be replaced, too

// or
block content
    h1 I will stay now, for sure!
    p This is my final content :)

