

//Single line Markup comment

//
    Multiline comment
    All following lines on this level
    will also be comment

//- To stop rendering the comment use the - prefix

//-
    The comment will still be there,
    but it wont be rendered!