

- $action = 'blog'

case $action
    default
    when 'index'
    when 'start'
        p Start
    when 'blog'
        p Blog
    when 'about'
        p About


if $someCondition
    p Printed when if
elseif $someOtherCondition
    p Printed when elseif
else if $someOtherCondition
    p Printed when else if
else
    p Printed when else


unless $error
    .success
        p Successfully done something!