

h1 Includes can work with filters


include some-style.css
//will automatically be converted to <style></style> and include plain-text


include:css some-style
//Will automatically be converted to <style></style> and include plain-text

include:plain some-jade-file

//Will display a jade-file in plain-text