
h1 Text

div
    | Some text
    | Some further text


| Now here:
    Multiline pretty possible.
    Just go on and on...


h2 Directly append to element!


h2 Enter text-mode with .-suffix

p.
    Here can be endless text until we outdent.
    It's multiline

    demacia.