
doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        title Tale Jade Live Compiler

        include styles
    body

        .container

            .page-header
                h1 Tale Jade Live Compiler

            .container-editor
                .row

                    .col.col-md-6
                        .editor.editor-jade#jadeEditor
                    .col.col-md-6
                        .editor.editor-php#phpEditor

        include scripts