

- $self = $_SERVER['PHP_SELF'];

script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/codemirror.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/jade/jade.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/xml/xml.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/javascript/javascript.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/css/css.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/htmlmixed/htmlmixed.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/php/php.min.js')
script.

    $(function() {

        var jadeEditor = CodeMirror(document.getElementById('jadeEditor'), {
            mode: 'jade',
            value: '\n\n'
                + 'h1 Welcome to Jade!\n'
                + 'p You can test whatever commands you like here.\n'
                + '\n'
                + 'Notice that extends and include are blocked\n'
        });

        var editorElement = document.getElementById('phpEditor');
        var phpEditor = CodeMirror(editorElement, {
            mode: 'php'
        });

        function compile()
        {

            editorElement.classList.add('compiling');
            $.post('#{$self}', {jade: jadeEditor.getValue()}, function(result) {

                editorElement.classList.remove('compiling');
                phpEditor.setValue(result);
            });
        }

        var iv;
        function changed()
        {

            if (iv) {

                window.clearTimeout(iv);
            }

            editorElement.classList.add('compiling');
            iv = window.setTimeout(compile, 500);
        }

        jadeEditor.on('change', changed);
        compile();
    });