doctype 5
html(lang=$lang)
    head
        title= $title

        link(rel='stylesheet', href='/some-style.css')
    body

        h1 Some Header
        p.

            Some multiline
            text that will just span
            over as many lines as it fucking likes!

        script(src='/some-script.css')