
$content= "This is some Content.\n\n    This comment contains own whitespace to preserve."

some-container
    pre= $content
    pre Some #[strong interpolated content]
    div= $content
    div Some #[strong interpolated content]
    code= $content
    code Some #[strong interpolated content]