
doctype html

//these should be left open
hr
img
link
area

//These shouldn't repeat
a(disabled, selected, checked) Some link

//this should self-close
some-element

//this shouldn't self-close
some-element Some Content