-
	/**
	 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
	 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
	 */

doctype html


doctype html
<html>
<head>
	!= $view->Html->charset()
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">