
a
    b
        c
            d.
                Some Text
                    Some further text
        e
    f
g



a
    b
        c
            d
                e
                    f
                        :css
                            Some Text
                                Some further text
                e
        f
g



a
    b
        c
            d
                e
                    f
                        -
                            echo 'Some Text'.
                                'Some further text'
                e
    f
g
