
extends layout-basic.jade

block content

    h1 Some h1 Element
    p= $somePhpContent


    form.form.form-horizontal#mainForm

        .row
            .col.col-md-4

            .col.col-md-6

            #startsWithId

            .some-class#someId