
extends layout-basic(page-title='My Page')


mixin some-mixin(key, value)

    empty-tag
    p Some normal p text
    p Some nested first text
        | Some nested second text
        | Some nested third text

    p. Some nested first text
        Some nested second text
        Some nested third text

    p= Some p expression
    p!= Some un-escaped p expression

    p.first-class(class='second-class', class='third-class', class=$varClass)&class($caller->classes)= $key
    p&attributes($caller->attributes)= $value

    if $caller->block
        block

block content

    h1 Some h1 Element
    p= $somePhpContent


    // Inline Rendered Comment

    //- Inline hidden comment


    // Some shown comment
         This should also stay commented
         in following lines

    //- Some hidden Comment
        This should also stay commented
        in following lines


    form.some-class(action='#', method!='post').form.form-horizontal#mainForm

        .row
            .col.col-md-4

            .col.col-md-6

            #startsWithId

                ul
                    li: a()
                    li: a
                    li: a

        include:markdown some-include(some-variable='someValue')

        some:name-spaced:element(some-attr='val') Some Value
            | Some Text
            some:element(): some:sub-element: sub:element Some Text Content


        +some-mixin('some-key', 'some-value').some-class.some-other-class(some-attribute)
            | Some sub content for this mixin
            p This will be replaced with "block" inside the mixin

        - $var = 'Some raw PHP'

        -
            Here can be any kind of raw PHP
            Awesome, isn't it? Jade can't do that!

        .some-content.

            | here goes some multiline text i thought of
            () All special chars should be ignored

            .some-class(some-attribute='some-value', some-attribute2)

        .some-class(some-attribute='some-value', some-attribute2)

        .complex-element(attr1=(isset( $someVar ) ? $someVar : 'Demacia'),
            attr2= $this->__("some string 'some sub string'" ) )

            .some-class#someId

                | Some text in an element

                | Some other text.
                    Notice how we can have sub text without the need to repeat |
                    This works in a multi-line manner

        case (isset($dayOfWeek) ? $dayOfWeek : "Sunday")
            when "Sunday"
                a(href='#') Sunday
            when 'Monday'
                a(href='#') Monday
            when 'Tuesday'
                a(href='#') Tuesday
            when 1
                a() Demacia
            default

                a(href='#') By the force!


    each $someItem in $someItems

        if $exists
            .alert.alert-danger
                p Error!


        each $person ,   $id in  $persons
            p= $person->name

    unless $sent
        p Oh noes!


        - $i = 0
        while $i < 15
            do something
            - $i++


        - $j = 0
        do
            p= "Hello from Jade!"
            - $j++
        while $j < 15

        :markdown
            **Some Markdown Content**

    if $someIf
        some i get out of stuffs
    elseif $someElseIf
        some random stuff
    else if $someOtherElseIf
        some other stuff
    else
        some stuff