a: b: c
    d: e: f f2-Text
    d: e: f
        g: h: i i1-Text
        g: h: i i2-Text
    d: e: f f2-Text
a: b: c c-Text
    d: e: f
        g: h: i
            j: k: l
    d: e
        g: h: i
            j: k: l

a: b