
if $xml
    !!! xml
else
    doctype 5
html(lang=isset($language) ? $language : 'en')
    head
        meta(charset=isset($charset) ? $charset : 'utf-8')
        title= isset($title) ? $title : 'My Jade Website'


        block styles
            style.
                body, html {
                    height: 100%;
                }
            style.
                p { line-height: 2; }

body

    include navigation

    block content
        h1 This is default content
        p Replace it as soon as possible

    block scripts
        script var someVar = doSomeJavaScript || 'Do something else'
        script.

            if (someVar)
                someMultiLineScriptFunction();
            else {

                console.log('Hello from Jade!');
            }