
mixin some-button(label)
    p The following button is from the mixin some-button
    button(type='submit')= $label

mixin some-input(label)
    p The following button is from the mixin some-input
    input(type='text', value=$label)

mixin some-nested-mixin
    +some-button('Nested Button 1')
    +some-button('Nested Button 2')
    if block
        block

mixin some-uncalled-mixin
    h2 This mixin is never called
    p ...so it shouldnt compile!

append content

    h1 Mixins

    +some-button('Button 1')
    +some-button('Button 2')

    +some-input('Input 1')
    +some-input('Input 2')

    +some-nested-mixin
        h2 This is block content
        p There should be two Nested buttons above here