

p This navigation is from all-features/navigation.jade
nav
    ul
        li: a(href='#') Start
        li: a(href='#') Some Sub Page
        li: a(href='#') Some other sub page
        li: a(href='#') Some very othe sub page