

h1 About Tale Jade

p Tale Jade is different from most Jade ports to PHP, since it's not based on the original Node.js compiler.
p Tale jade was written from scratch, optimized to integrate into PHP
p While the Node.js Engine is great for JavaScript, PHP has some language constructs that allow us to gain a richer feature set