
$helloWorld = 'Hello World!'

p
    $helloWorld


$i= 100

$array= ['a', 'b', 'c']

$array2('d', 'e', 'f')

$existing(style=['height' => '50%'])


$options = ['nowrap' => 'THE OVERWRITTEN VALUE']

$options(nowrap='nowrap')

$column(
    'id',
    'tracker_id',
    clientOptions= $options
)

= $column['clientOptions']['nowrap']
= count($existing)
= count($existing['class'])
= count($existing['style'])

div&styles($existing['style'])