
$helloWorld = 'Hello World!'

p
    $helloWorld


$i= 100

$array= ['a', 'b', 'c']

$array2('d', 'e', 'f')

$existing(class='b', class='c')


$options = ['nowrap' => 'THE REAL VALUE']

$column(
    'id',
    'tracker_id',
    clientOptions= $options
)

= $column['clientOptions']['nowrap']
= count($existing)
= count($existing['class'])
= count($existing['style'])