
a(href=1)&href(2, 3, 4)

div(class='first', class='second')&classes('third', 'fourth', ['fifth', 'sixth'])


//-Not correctly supported right now
//-div.on-element&attributes(['class' => 'first', 'style' => 'width: 100%'], role='navigation', $externAttrs)&classes('sixth')