
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="chrome=1")

link(rel="shortcut icon" href="/favicon.ico")
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600")

link(rel="stylesheet" href="/style.css")